In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in ./myenv/lib/python3.13/site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in ./myenv/lib/python3.13/site-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in ./myenv/lib/python3.13/site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in ./myenv/lib/python3.13/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in ./myenv/lib/python3.13/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in ./myenv/lib/python3.13/site-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in ./myenv/lib/python3.13/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in ./myenv/lib/python3.13/site-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in ./myenv/lib/python3.13/site-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in ./myenv/lib/python3.13/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in ./myenv/lib/python3.13/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in ./myenv/lib/python3.13/site-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in ./myenv/lib/python3.13/site-packages (from requests->kaggle) (3.10)

In [2]:
!pip freeze > requirements.txt

In [2]:
import kaggle
!kaggle datasets download hesh97/titanicdataset-traincsv

Dataset URL: https://www.kaggle.com/datasets/hesh97/titanicdataset-traincsv
License(s): CC0-1.0
Downloading titanicdataset-traincsv.zip to /Users/chuqingshi/Downloads/LazyProgrammer/machine_learning_exercises/ab_testing
  0%|                                               | 0.00/22.0k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 22.0k/22.0k [00:00<00:00, 9.91MB/s]

In [5]:
# Unzip the downloaded file
import zipfile
import os

dataset_path = "titanicdataset-traincsv.zip"
with zipfile.ZipFile(dataset_path, "r") as zip_ref:
    zip_ref.extractall("dataset_exercise")  # Extract files to a folder

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns #density plot

In [9]:
!seaborn --version

/usr/local/bin/bash: line 1: seaborn: command not found

In [10]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in ./myenv/lib/python3.13/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=1.2 in ./myenv/lib/python3.13/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in ./myenv/lib/python3.13/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in ./myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in ./myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in ./myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in ./myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./myenv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./myenv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in ./myenv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [11]:
!pip freeze > requirements.txt

In [16]:
!ls

Exercise16_probability_review.ipynb  epsilon_greedy.py
Exercise25_confidence_interval.ipynb epsilon_greedy_starter.py
Exercise33_ztest.ipynb               ex_chisq.py
Exercise34_ztest2.ipynb              ex_ttest.py
advertisement_clicks.csv             extra_reading.txt
bayesian_bandit.py                   myenv
bayesian_normal.py                   optimistic.py
bayesian_starter.py                  optimistic_starter.py
cdfs_and_percentiles.py              requirements.txt
chisquare.py                         server_solution.py
ci_comparison.py                     server_starter.py
client.py                            titanicdataset-traincsv.zip
comparing_epsilons.py                train.csv
convergence.py                       ttest.py
dataset                              ucb1.py
dataset_exercise                     ucb1_starter.py
demo.py

In [18]:
!ls dataset_exercise

train.csv

In [19]:
df = pd.read_csv("dataset_exercise/train.csv")

In [29]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
# Adjust display to show all columns
pd.set_option('display.max_columns', None)

#...

# Reset display option to default
pd.reset_option('display.max_columns')